body {
	background-color: #fff;
}
code {
	background-color: #434343;
	color: snow;
	font-size: large;
	font-weight: 700;
	padding: 5px 10px;
}
em {
	background-color: #bababa;
	font-size: large;
	font-style: normal;
	padding: 3px 10px;
}
.message
{
	word-wrap: break-word;
}